---
import Layout from '../layouts/Layout.astro'
import Link from '../components/Link.astro'
import InputField from '../components/Input-Field.astro'
---

<Layout title="Contact | Chris Tse">
	<main class="flex-1 w-full px-4 py-8 mx-auto md:px-8 md:py-8">
		<section>
			<h1 class="text-2xl font-bold mb-8">Get in touch!</h1>
			<p class="mb-4 leading-normal">
				Want to get in touch? Find me at any of the following places or fill in the form below. I will get
				back to you as soon as I can
			</p>

			<ul class="mb-10 list-disc list-inside">
				<li>
					<Link href="https://x.com/ChrisMTse">
						Twitter
					</Link>
				</li>
				<li>
					<Link href="https://twitch.tv/TheOtakuDev">
						Twitch
					</Link>
				</li>
				<li>
					<Link href="https://github.com/chris-tse">
						GitHub
					</Link>
				</li>
				<li>
					<Link href="https://linkedin.com/in/chrismtse/">
						LinkedIn
					</Link>
				</li>
			</ul>

			<form
				name="astro-contact-form"
				class="mx-auto md:w-2/3 p-8 shadow-lg rounded-md bg-slate-200"
				method="POST"
				netlify-honeypot="bot-field"
				data-netlify="true"
			>
				<input type="hidden" name="bot-field" />
				<input type="hidden" name="form-name" value="astro-contact-form" />

				<InputField
					label="Name"
					id="name"
					placeholder="ex. Akira Yamada"
					type="text"
					name="name"
					required
				/>

				<InputField
					label="Email"
					id="email"
					placeholder="ex. contact@me.com"
					type="email"
					name="email"
				/>

				<label class="block mb-2 text-xs font-bold uppercase" for="message">
					Message
				</label>

				<textarea
					class="w-full mb-6 border-0 rounded placeholder:text-slate-400 form-textarea"
					id="message"
					placeholder="Say something..."
					rows="4"
					name="message"
				></textarea>

				<button class="inline-block rounded py-2 px-4 bg-purple-900 text-white">Submit</button>
			</form>
		</section>
	</main>
</Layout>
