---
import Layout from '../layouts/Layout.astro';
import Face from '../components/Face.astro';
import '../styles/global.css';
---

<Layout title="Welcome to Astro.">
	<main>
      <section>

				<Face />
				<h2 class="inline-block py-3 mb-4 text-2xl font-bold">
						Hi, I&apos;m Chris! I&apos;m a software engineer specializing in front end development.
				</h2>

				<p class="leading-normal mb-4">
					I love creating things for the web. My main choice of tools currently are React, Sass/SCSS,
					Tailwind CSS, and Node.js. I was born and raised in Calgary, Canada and now reside in Oklahoma City
					working at{' '}
					<a class="link" href="https://www.rentpath.com/">
							RentPath
					</a>
					.
				</p>

				<p>
					If you&apos;d like to get in touch, feel free to{' '}
					<a class="link" href="/contact">
					leave me a message
					</a>
					.
				</p>
		</section>
	</main>
</Layout>
