<span class="face-wrapper">
	<img alt="Chris headshot" class="face" src="/face.jpg" />
</span>

<style>
	.face-wrapper {
		display: inline-block;
		width: 25%;
		border: 4px solid rgb(113,128,150);
		border-radius: 9999px;
		box-shadow: 0 0 20px rgba(0,0,0,.6);
		overflow: hidden;
	}

	.face {
    max-width: 100%;
    height: auto;
		vertical-align: middle;
	}
</style>
