<span class="inline-block w-1/4 border-gray-400 md:border-6 border-4 rounded-full overflow-hidden shadow-round">
		<img alt="Chris headshot" class="block" src="/face.jpg" />
</span>

<style>
		.shadow-round {
      box-shadow: 0 0 20px rgba(0,0,0,.6)
		}
</style>
