<div class="relative">
	<div class="w-64 h-64 rounded-full overflow-hidden border-4 border-gray-500 shadow-lg">
		<img
			src="/face.jpg"
			alt="Chris Tse"
			class="w-full h-full object-cover"
		/>
	</div>
	<!-- Decorative Elements -->
	<div class="absolute -top-4 -right-4 w-24 h-24 bg-purple-200 rounded-full opacity-30 blur-xl"></div>
	<div class="absolute -bottom-4 -left-4 w-32 h-32 bg-indigo-200 rounded-full opacity-30 blur-xl"></div>
</div>
