<footer class="bg-white border-t border-gray-200">
	<div class="max-w-4xl mx-auto px-4 py-8">
		<p class="text-center text-gray-600">
			© 2024 Chris Tse. Built with
			<a
				href="https://astro.build"
				class="font-semibold text-indigo-600 hover:underline"
				target="_blank">Astro</a
			>
			and
			<a
				href="https://tailwindcss.com"
				class="font-semibold text-indigo-600 hover:underline"
				target="_blank">Tailwind CSS</a
			>
			.
		</p>
	</div>
</footer>
