---
export interface Props {
	href: string
	classNames?: string
	newTab?: boolean
}

const { href, classNames, newTab } = Astro.props
---

<a
	href={href}
	class={`${classNames} font-semibold text-indigo-600 hover:underline`}
	target={newTab ? '_blank' : ''}
>
	<slot />
</a>
