---
interface Props {
	employer: string;
	title: string;
	dateRange: string;
	description: string[];
	isFirst: boolean;
}

const {
	employer,
	title,
	dateRange,
	description,
	isFirst
} = Astro.props

const borderHider = 'before:absolute before:content-[\'\'] before:w-full before:bg-white before:block before:left-0 before:-top-4 before:h-full'
---

<div class="relative pl-8 border-l-2 border-indigo-200 pb-8">
	<div
		class={`${isFirst ? borderHider : ''}` + ' absolute w-4 h-4 bg-indigo-600 rounded-full -left-[9px] top-2'}></div>
	<div class="flex flex-col sm:flex-row sm:items-center justify-between mb-2">
		<h3 class="text-xl font-semibold text-gray-900">{title}</h3>
		<div class="text-indigo-600 font-medium">{dateRange}</div>
	</div>
	<div class="text-lg text-gray-600 mb-2 italic">{employer}</div>
	<ul class="list-inside text-gray-600 space-y-4">
		{description.map((item) => (
			<li>{item}</li>
		))}
	</ul>
</div>